<div class="scale">
    <div class="about-us">
        <div class="container">
            <h1>About us</h1>
            <p>Chatfuel was born in the summer of 2015 with the goal to make bot-building easy for anyone. We started on
                Telegram and quickly grew to millions of users. Today we're focusing mainly on making it easy for
                everyone to build chatbots on Facebook Messenger, where our users include NFL and NBA teams, publishers
                like TechCrunch and Forbes, and millions of others.</p>
            <p>We believe in the power of chatbots to strengthen your connection to your audience—whether that's your
                customers, readers, fans, or others. And we're committed to making that as easy as we can.</p>
        </div>
        <div class="map">

        </div>
    </div>
</div>