<div class="scale">
    <section class="section_welcome">
        <div class="container">
            <div class="sectioncaption">Relationship-based Messenger marketing</div>
            <div class="sectiontext">
                Create a Messenger bot for marketing, sales and support on the world’s leading chatbot platform.
                <img src="https://chatfuel.com/static/landing/v3/images/emoji/white-right-pointing-backhand_30.png"
                     srcset="https://chatfuel.com/static/landing/v3/images/emoji/white-right-pointing-backhand_60.png 2x"
                     alt="" class="emoji desktop">
                <img class="emoji mobile" src="https://chatfuel.com/static/landing/v3/images/emoji/white-right-pointing-backhand_19.png"
                     srcset="https://chatfuel.com/static/landing/v3/images/emoji/white-right-pointing-backhand_38.png 2x" style="display: none"> Get started for free.
            </div>
            <a class="btn btn-button btn-facebook" href="#">
                <img src="https://chatfuel.com/static/landing/v3/images/buttons/facebook.svg"> Sign in with Facebook
            </a>
            <div class="noregtext">&nbsp;</div>
        </div>
        <div class="iphone">
            <img class="phone" src="https://chatfuel.com/static/landing/v3/images/iphone.jpg">
            <div class="appicon" style="transform: translateY(-78.1818px);">
                <img src="https://chatfuel.com/static/landing/v3/images/appicon.png" srcset="/static/landing/v3/images/appicon2xd.png 2x">
            </div>
        </div>
        <div class="container">
            <div class="buildtext">Build a Facebook bot - no coding or experience needed</div>
            <div class="quoteblock">
                <div class="up">
                <span class="text">
                    Chatfuel have been indispensable partners, powering the chatbots we’ve built for Adidas, HTC and Just Eat.
                </span>
                    <a href="#" class="name">
                    <span>
                     — Isabel Perry, Byte London
                        <img class="desktop" src="https://chatfuel.com/static/landing/v3/images/isabel.png" srcset="/static/landing/v3/images/isabel2xd.png 2x">
                        <img class="mobile" src="https://chatfuel.com/static/landing/v3/images/isabel2x.png" style="width: 20px">
                    </span>
                    </a>
                </div>
                <div class="down">
                    <a href="" class="bytelondon" href="#">
                        <img src="https://chatfuel.com/static/landing/v3/images/bytelondon.png" alt="" class="desktop">
                        <img class="mobile" src="https://chatfuel.com/static/landing/v3/images/bytelondon2x.png" style="width: 53px">
                    </a>
                </div>
            </div>
            <div class="magazines">
                <a href="" class="techcrunch">
                    <img class="desktop" src="https://chatfuel.com/static/landing/v3/images/magazines/techcrunch.png" srcset="/static/landing/v3/images/magazines/techcrunch2xd.png 2x">
                    <img class="mobile" src="https://chatfuel.com/static/landing/v3/images/magazines/2x/techcrunch.png">
                </a>
                <a href="" class="economist">
                    <img class="desktop" src="https://chatfuel.com/static/landing/v3/images/magazines/economist.png" srcset="/static/landing/v3/images/magazines/economist2xd.png 2x">
                    <img class="mobile" src="https://chatfuel.com/static/landing/v3/images/magazines/2x/economist.png">
                </a>
                <a href="" class="forbes">
                    <img class="desktop" src="https://chatfuel.com/static/landing/v3/images/magazines/forbes.png" srcset="/static/landing/v3/images/magazines/forbes2xd.png 2x">
                    <img class="mobile" src="https://chatfuel.com/static/landing/v3/images/magazines/2x/forbes.png">
                </a>
                <a href="" class="wallstreet">
                    <img class="desktop" src="https://chatfuel.com/static/landing/v3/images/magazines/wallstreet.png" srcset="/static/landing/v3/images/magazines/wallstreet2xd.png 2x">
                    <img class="mobile" src="https://chatfuel.com/static/landing/v3/images/magazines/2x/wallstreet.png">
                </a>
                <a href="" class="bloomberg">
                    <img class="desktop" src="https://chatfuel.com/static/landing/v3/images/magazines/bloomberg.png" srcset="/static/landing/v3/images/magazines/bloomberg2xd.png 2x">
                    <img class="mobile" src="https://chatfuel.com/static/landing/v3/images/magazines/2x/bloomberg.png">
                </a>
                <a href="" class="vb">
                    <img class="desktop" src="https://chatfuel.com/static/landing/v3/images/magazines/vb.png" srcset="/static/landing/v3/images/magazines/vb2xd.png 2x">
                    <img class="mobile" src="https://chatfuel.com/static/landing/v3/images/magazines/2x/vb.png">
                </a>
            </div>
        </div>
    </section>
    <section class="section_automate">
        <div class="flag">
            <img src="https://chatfuel.com/static/landing/v3/images/flag.png" srcset="/static/landing/v3/images/flag2xd.png 2x">
            <div class="text">Facebook Page</div>
            <div class="numbers">632</div>
        </div>
        <div class="container">
            <div class="sectioncaption">
                Automate <br/> your Facebook Inbox
            </div>
            <div class="sectiontext">
                Don’t miss any customer inquiries sent to your business Facebook page. Use Chatfuel to automate
                responses to the most common questions and handover the conversation to
                <img src="https://chatfuel.com/static/landing/v3/images/emoji/male-technologist_30.png" alt="" class="emoji desktop">
                <img src="https://chatfuel.com/static/landing/v3/images/emoji/male-technologist_19.png" alt="" class="emoji mobile">
                a human whenever needed.
            </div>
            <div class="iphone">
                <img src="https://chatfuel.com/static/landing/v3/images/iphone_facebook.png" alt="" class="phone">
                <img src="https://chatfuel.com/static/landing/v3/images/iphone_facebook_up.png" alt="" class="phoneup">
                <div class="shadow"></div>
                <div class="notifications">
                    <div class="item">
                        <div class="caption">
                            <img src="https://chatfuel.com/static/landing/v3/images/flagmini.png" alt="">
                            FACEBOOK PAGE
                            <div class="now">now</div>
                        </div>
                        <div class="name">Alex Khlebnikoff</div>
                        <div class="massage">How long does it typically take for the order to...</div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            <img src="https://chatfuel.com/static/landing/v3/images/flagmini.png" alt="">
                            FACEBOOK PAGE
                            <div class="now">now</div>
                        </div>
                        <div class="name">Alex Khlebnikoff</div>
                        <div class="massage">How long does it typically take for the order to...</div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            <img src="https://chatfuel.com/static/landing/v3/images/flagmini.png" alt="">
                            FACEBOOK PAGE
                            <div class="now">now</div>
                        </div>
                        <div class="name">Alex Khlebnikoff</div>
                        <div class="massage">How long does it typically take for the order to...</div>
                    </div>
                    <div class="item">
                        <div class="caption">
                            <img src="https://chatfuel.com/static/landing/v3/images/flagmini.png" alt="">
                            FACEBOOK PAGE
                            <div class="now">now</div>
                        </div>
                        <div class="name">Alex Khlebnikoff</div>
                        <div class="massage">How long does it typically take for the order to...</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_marketing">
        <div class="messengericon">
            <img src="https://chatfuel.com/static/landing/v3/images/messenger.png" alt="">
            <div class="text">Messenger</div>
        </div>
        <div class="container">
            <div class="sectiontext">
                Digital marketing today is more than directing traffic to a landing page, collecting e-mails and
                subscribing them to a drip campaign. With Chatfuel businesses lower customer acquisition costs
                <img class="emoji desktop" src="https://chatfuel.com/static/landing/v3/images/emoji/money-bag_30.png"
                     srcset="https://chatfuel.com/static/landing/v3/images/emoji/money-bag_60.png 2x">
                <img class="emoji mobile" src="https://chatfuel.com/static/landing/v3/images/emoji/money-bag_19.png"
                     srcset="https://chatfuel.com/static/landing/v3/images/emoji/money-bag_38.png 2x">
                , get higher engagement
                <img class="emoji desktop" src="https://chatfuel.com/static/landing/v3/images/emoji/smiling-face-with-sunglasses_30.png"
                     srcset="https://chatfuel.com/static/landing/v3/images/emoji/smiling-face-with-sunglasses_60.png 2x">
                <img class="emoji mobile" src="https://chatfuel.com/static/landing/v3/images/emoji/smiling-face-with-sunglasses_19.png"
                     srcset="https://chatfuel.com/static/landing/v3/images/emoji/smiling-face-with-sunglasses_38.png 2x">
                and retention rates
                <img class="emoji desktop" src="https://chatfuel.com/static/landing/v3/images/emoji/chart-with-upwards-trend_30.png"
                     srcset="https://chatfuel.com/static/landing/v3/images/emoji/chart-with-upwards-trend_60.png 2x">
                <img class="emoji mobile" src="https://chatfuel.com/static/landing/v3/images/emoji/chart-with-upwards-trend_19.png"
                     srcset="https://chatfuel.com/static/landing/v3/images/emoji/chart-with-upwards-trend_38.png 2x">
            </div>
            <div class="diagrams">
                <div class="diagram openrates">
                    <div class="caption">open rates</div>
                    <div class="messenger">
                        <div class="left">
                            <div class="caption">messenger</div>
                        </div>
                        <div class="right">
                            <div class="row-1">
                                <div class="fill"></div>
                            </div>
                            <div class="percent">80%</div>
                        </div>
                    </div>
                    <div class="mail">
                        <div class="left">
                            <div class="caption">mail</div>
                        </div>
                        <div class="right">
                            <div class="row-1">
                                <div class="fill"></div>
                            </div>
                            <div class="percent">25%</div>
                        </div>
                    </div>
                </div>
                <div class="diagram click">
                    <div class="caption">click-through rates</div>
                    <div class="messenger">
                        <div class="left">
                            <div class="caption">messenger</div>
                        </div>
                        <div class="right">
                            <div class="row-1">
                                <div class="fill"></div>
                            </div>
                            <div class="percent">30%</div>
                        </div>
                    </div>
                    <div class="mail">
                        <div class="left">
                            <div class="caption">mail</div>
                        </div>
                        <div class="right">
                            <div class="row-1">
                                <div class="fill"></div>
                            </div>
                            <div class="percent">3%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="facts">
                <div class="item users">
                    <div class="caption">1B+</div>
                    <div class="text">users in Messenger</div>
                </div>
                <div class="item average">
                    <div class="caption">80%</div>
                    <div class="text">average open rates</div>
                </div>
                <div class="item ctr">
                    <div class="caption">10x</div>
                    <div class="text">CTRs compared to e-mail</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_templates">
        <div class="container">
            <div class="sectioncaption">
                A template for every need
            </div>
            <div class="sectiontext">
                Get started with a bot template built by the most creative individuals and agencies
                from the biggest bot community in the world.
            </div>
        </div>
        <div class="overflow">
            <div class="mobilelogos">
                <img src="https://chatfuel.com/static/landing/v3/images/templates.png">
            </div>
            <div class="sites">
                <!-- <div class="site quiz">
                     <div class="bg"></div>
                     <img src="https://chatfuel.com/static/landing/v3/images/sites/quiz.png" alt="">
                     <div class="caption">Quiz</div>
                     <div class="text">by Livebotter</div>
                     <div class="previewbutton">Preview</div>
                 </div>-->
                <div class="site influencer">
                    <div class="bg"></div>
                    <img src="https://chatfuel.com/static/landing/v3/images/sites/influencer.png" alt="">
                    <div class="caption">Influencer</div>
                    <div class="text">by Persona</div>
                    <div class="previewbutton">Preview</div>
                </div>
                <div class="site shopify">
                    <div class="bg"></div>
                    <img src="https://chatfuel.com/static/landing/v3/images/sites/shopify.png" alt="">
                    <div class="caption">Shopify Store</div>
                    <div class="text">by GoBeyound.ai</div>
                    <div class="previewbutton">Preview</div>
                </div>
                <div class="site realestateagent">
                    <div class="bg"></div>
                    <img src="https://chatfuel.com/static/landing/v3/images/sites/realestateagent.png" alt="">
                    <div class="caption">Real Estate Agent</div>
                    <div class="text">by Chatfuel</div>
                    <div class="previewbutton">Preview</div>
                </div>
                <div class="site publisher">
                    <div class="bg"></div>
                    <img src="https://chatfuel.com/static/landing/v3/images/sites/publisher.png" alt="">
                    <div class="caption">Publisher</div>
                    <div class="text">by TechCrunch</div>
                    <div class="previewbutton">Preview</div>
                </div>
                <div class="site giphy">
                    <div class="bg"></div>
                    <img src="https://chatfuel.com/static/landing/v3/images/sites/giphy.png" alt="">
                    <div class="caption">GIPHY Integration</div>
                    <div class="text">by Deborah Kay</div>
                    <div class="previewbutton">Preview</div>
                </div>
                <div class="site appointmentbooking">
                    <div class="bg"></div>
                    <img src="https://chatfuel.com/static/landing/v3/images/sites/appointmentbooking.png" alt="">
                    <div class="caption">Appointment Booking</div>
                    <div class="text">by BotMakers</div>
                    <div class="previewbutton">Preview</div>
                </div>
                <!--<div class="site dialogflow">
                    <div class="bg"></div>
                    <img src="https://chatfuel.com/static/landing/v3/images/sites/dialogflow.png" alt="">
                    <div class="caption">Dialogflow Integration</div>
                    <div class="text">by Cral Dombrovski</div>
                    <div class="previewbutton">Preview</div>
                </div>-->
            </div>
        </div>
    </section>
    <section class="section_contact">
        <div class="container">
            <div class="agencytext">
                Have the budget but got no time?
                <br>
                Work with one of our agencies.
            </div>
            <div class="sectioncaption">Let preofessional build your bot</div>
            <div class="contactustext">Contact us for details</div>
            <a href="" class="btn-button message" target="_blank">
                <img src="https://chatfuel.com/static/landing/v3/images/buttons/message.svg" alt="">
                Message Us
            </a>
            <div class="talkous">
                Running an agency and want to be Chatfuel-certified?
                <a href="#">Talk to us today</a>
                &nbsp;
            </div>
        </div>
    </section>
</div>