<div class="scale">
    <div class="section_login">
        <div class="container">
            <div class="user-modal">
                <div class="user-modal-container">
                    <ul class="switcher">
                        <li><a href="#" class="selected">Sign in</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                    <app-sign-in></app-sign-in>
                    <app-sign-up></app-sign-up>
                    <div id="reset-password">
                        <p class="form-message">Lost your password? Please enter your email address.<br> You will receive a link to create a new password.</p>
                        <form class="form" #forgetPassword="ngForm" (ngSubmit)="OnSubmit(Useremail.value)">
                            <p class="fieldset">
                                <label class="image-replace email" for="reset-email">E-mail</label>
                                <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail" #Useremail ngModel name="Useremail" required>
                                <span class="error-message">An account with this email does not exist!</span>
                            </p>
                            <p class="fieldset">
                                <input class="full-width has-padding" type="submit" value="Reset password" [disabled]="!forgetPassword.valid">
                            </p>
                        </form>
                        <p class="form-bottom-message"><a href="#0">Back to log-in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
