<!--
<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" #UserName ngModel name="UserName" placeholder="Username" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" #Password ngModel name="Password" placeholder="Password" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
        </div>
    </div>
</form>
-->

<div class="user-modal">
    <div class="user-modal-container">
        <ul class="switcher">
            <li><a href="#0">Sign in</a></li>
            <li><a href="#0">New account</a></li>
        </ul>

        <div id="login">
            <form #loginForm="ngForm" class="form" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
                <p class="fieldset">
                    <label class="image-replace email" for="signin-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail"
                           #UserName ngModel name="UserName" required>
                    <span class="error-message">An account with this email address does not exist!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace password" for="signin-password">Password</label>
                    <input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password"  #Password ngModel name="Password" required>
                    <a href="#0" class="hide-password">Show</a>
                    <span class="error-message">Wrong password! Try again.</span>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="remember-me" checked>
                    <label for="remember-me">Remember me</label>
                </p>

                <p class="fieldset">
                    <input class="full-width" type="submit" value="Login" [disabled]="!loginForm.valid">
                </p>
            </form>

            <p class="form-bottom-message"><a href="#0">Forgot your password?</a></p>
            <!-- <a href="#0" class="close-form">Close</a> -->
        </div>
    </div>
</div>