

        <div id="login">
            <form #loginForm="ngForm" class="form" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
                <p class="fieldset">
                    <label class="image-replace email" for="signin-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail"
                           #UserName ngModel name="UserName" required>
                    <span class="error-message">An account with this email address does not exist!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace password" for="signin-password">Password</label>
                    <input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password"  #Password ngModel name="Password" required>
                    <a routerLink="login" class="hide-password">Show</a>
                    <span class="error-message">Wrong password! Try again.</span>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="remember-me-1" [checked]="isCheckRemember" (change)="isCheckRemember = !isCheckRemember"/>
                    <label for="remember-me-1">Remember me</label>
                </p>

                <p class="fieldset">
                    <input class="full-width" type="submit" value="Login" [disabled]="!loginForm.valid">
                </p>
            </form>

            <p class="form-bottom-message"><a href="#0">Forgot your password?</a></p>
            <!-- <a href="#0" class="close-form">Close</a> -->
        </div>